// [1]
doctype html
html(lang="en") 
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Seller Registration
    link(rel="stylesheet", type="text/css", href="/css/auth.css")
  
  body
    include shared/navigation.pug
    include content/addnewbicycle-content.pug
    

// Refrences
//[1]“HTML Elements Valid DOCTYPES.” [Online]. Available: https://www.w3schools.com/tags/ref_html_dtd.asp. [Accessed: 05-Jan-2024]

//[2]“HTML meta charset Attribute.” [Online]. Available: https://www.w3schools.com/tags/att_meta_charset.asp. [Accessed: 05-Jan-2024]
//[3]“HTML title tag.” [Online]. Available: https://www.w3schools.com/tags/tag_title.asp. [Accessed: 05-Jan-2024]