doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Seller Registration
    link(rel="stylesheet", type="text/css", href="/css/auth.css")
  
  body
    include shared/navigation.pug
    include content/profile-content.pug
    

//[1]“HTML link tag.” [Online]. Available: https://www.w3schools.com/tags/tag_link.asp. [Accessed: 05-Jan-2024]

//[2]“HTML lang Attribute.” [Online]. Available: https://www.w3schools.com/tags/att_lang.asp. [Accessed: 05-Jan-2024]