doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Bicycle 
    link(rel="stylesheet", type="text/css", href="/css/home.css")
  
  body
    include shared/navigation.pug
    include content/home-content.pug
    
//[1]“HTML doctype declaration.” [Online]. Available: https://www.w3schools.com/tags/tag_doctype.ASP. [Accessed: 05-Jan-2024]
//[2]“HTML meta name Attribute.” [Online]. Available: https://www.w3schools.com/tags/att_meta_name.asp. [Accessed: 05-Jan-2024]