doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Bicycle Listing Page
    link(rel="stylesheet", type="text/css", href="/css/index.css")
  
  body
    include shared/navigation.pug
    include content/index-content.pug
    
// [1]“How To Include HTML.” [Online]. Available: https://www.w3schools.com/howto/howto_html_include.asp. [Accessed: 05-Jan-2024]

//[2]“HTML title tag.” [Online]. Available: https://www.w3schools.com/tags/tag_title.asp. [Accessed: 05-Jan-2024]