doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Bicycle Listing Page
    link(rel="stylesheet", type="text/css", href="/css/auth.css")
  
  body
    include shared/navigation.pug
    include content/login-content.pug
    

//[1]“HTML meta name Attribute.” [Online]. Available: https://www.w3schools.com/tags/att_meta_name.asp. [Accessed: 05-Jan-2024]
// [2]“HTML meta charset Attribute.” [Online]. Available: https://www.w3schools.com/tags/att_meta_charset.asp. [Accessed: 05-Jan-2024]